.home-screen {
  display: flex;
  justify-content: center;
  

}

.home-card {
  margin: 20px 10px;
  }

.homecard-link {
  text-decoration: none;
}

nav {
  background-color: aquamarine;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  margin: 10px;
  text-decoration: none;
  color: navy;
}

.plant-list {
  text-align: center;
}

.plant-card {
  max-width: 300px;
  max-height: 380px;
  border-radius: 10px;
  background-color: #3A5F0B ;
  cursor: pointer;
  transition: all 0.2s;
  color: white;
  
}

.container-grid {
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 1em;
  justify-content: center;
}